{% extends "admin_managed/base.html" %}
{% block content1 %}

<div class="dashboard-content">
	<!-- OPENING ELEMENT PROFILE SECTION -->
	<div class="profile-container">
		<!-- Profile Picture Section -->
		<div class="profile-section">
			<div class="profile-picture">
				<img src="/media/{{ photo }}" alt="Profile Picture" id="preview-image">
				<input type="file" id="profile-upload" hidden accept="image/*">
			</div>
		</div>
		<!-- General Information Section -->
		<div class="settings-section">
			{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} mb-4">
					<i class="{% if message.tags == 'success' %}ri-checkbox-circle-line{% else %}ri-error-warning-line{% endif %} me-2"></i>
					{{ message }}
				</div>
			{% endfor %}
			{% endif %}
			
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" value="{{ user.username }}" readonly>
					</div>
					<div class="form-group">
						<label>Nama Lengkap</label>
						<input type="text" class="form-control" value="{{ user.first_name }}" readonly>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="id_gender">Jenis Kelamin</label>
						{{ form.gender }}
					</div>
					<div class="form-group">
						<label for="id_telp">No. Telepon</label>
						{{ form.telp }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="id_photo">Photo Profile</label>
						{{ form.photo }}
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn primary">
						<!-- <button type="submit" class="btn success"> -->
							<!-- <button type="submit" class="btn warning"> -->
						<i class="ri-save-line"></i> Update Profile
					</button>
				</div>
			</form>
		</div>
	</div>
</div>  
{% endblock content1 %} 